

html {
    background-color: rgb(66, 66, 66);
}

button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: default;
    border: 2px solid #000000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 15px/normal Verdana, Geneva, sans-serif;
    color: rgb(0, 0, 0);


    transition-duration: 300ms;
}

button:hover {
    background-color: rgb(0, 26, 255);
}


.controls {
    display: flex;
    
}

#click-play:hover {
    background-color: white;
    color: black;
}

#click-play {
    border: 2px solid;
    text-align: center;
    border-radius: 4px;
    background-color: #000000;
    padding: 10px 30px;
}



.clickable-text {
    color: white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    transition-duration: 300ms;

}


.title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}


#videoplayer {
    visibility: hidden;
    transition-duration: 300ms;
}