.fancy-btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    cursor: pointer;
    font: normal 20px/normal "Arial", cursive, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #d88602;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;

    transition-duration: 300ms;
  }


 .fancy-btn:hover {
    padding: 10px 50px;
    font-size: 20px;
    background-color: #925a00;
  }

  html {
    background-color: rgb(68, 68, 68);
  }


.container {
  display: flex;
  justify-content: center;

}


.fancy-input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 10px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(252,252,252,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(153, 123, 23);;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;

  transition-duration: 300ms;
  cursor: pointer;

}

.fancy-input:hover {
  padding: 10px 30px;
  font-size: 16px;
  background-color: #925a00;
}


.fancy-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 42px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


.fancy-note {
  display:inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  cursor: pointer;
  font: normal 20px/normal "Arial", cursive, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #3b3b3b;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;

  transition-duration: 100ms;
}

.fancy-note:hover {
  background-color: #00420e;
}

.fancy-note:active {
  background-color: rgb(0, 161, 0);
}




.fancy-note-remove {
  display:flexbox;

  box-sizing:border-box;
  padding: 10px 20px;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  cursor: pointer;
  font: normal 20px/normal "Arial", cursive, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #3b3b3b;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;

  transition-duration: 300ms;
  text-align: center;
}

.fancy-note-remove:hover {
  background-color: red;
}


.fancy-small-btn {
  padding: 2px 2px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  border-radius: 2px;
  cursor: pointer;
  font: normal 11px/normal "Arial", cursive, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #3e14a1;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;

  transition-duration: 300ms;
}

.fancy-small-btn:hover {
  padding: 2px 4px;
  font-size: 13;
  background-color: #1c0658;
}


.fancy-small-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}

.fancy-select {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 10px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 15px/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(204, 147, 25);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;

  transition-duration: 300ms;


}

.fancy-select:hover {
  padding: 5px 20px;
  background-color: rgb(165, 120, 22);
}

.red-hover:hover {
  background-color: red;
}